body {
  margin: 0;
}
ul, li, a, p {
  margin:0;
  padding:0;
}
p, a, li {
  font-family: arial,sans-serif;
  font-size: 13px;
}
.clear {
  clear: both;
}
.container .top {
  margin-top: 15px;
}
.container .top li{
  color: #000;
  display: inline;
  padding-left: 15px;

}
.container .top li a {
  color: #000;
  display: inline;
  text-decoration: none;
}

.container .top ul {
  display: inline;
}
.top ul.left {
  float: left;
  margin-left: 10px;
  padding-top: 5px;
}
.top ul.right {
  float: right;
  padding-right: 30px;
}
.top ul.right div.first {
  display: inline-block;
  padding-top:5px;
}
.top ul.right div.second {
  display: inline;
  float: right;
}
.top li#apps {
  background-image: url('i2_2ec824b0.png');
  height: 30px;
  width: 30px;
  background-position: -132px -38px;
  background-size: 528px 68px;
  font-size: 30px;
  display: inline-block;
  margin-left: 15px;
}
.top li#alerts {
  background-image: url('i2_2ec824b0.png');
  background-position: -194px -21px;
  background-size: 528px 68px;
  display: inline-block;
  height: 20px;
  width: 20px;
  color:#FFF;
  border-radius: 50%;
  background-color: rgba(0,0,0,.55);
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin: 5px 0;
  text-align: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.top li#profile {
  background-image: url('profile.png');
  height: 30px;
  width: 30px;
  font-size: 30px;
  margin-left: 15px;
  display: inline-block;
  background-position: center;
  background-size: 30px 30px;
  padding-left: 0;
}

.middle {
  width: 100%;
}
.middle .picture {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 180px;
}
.middle .picture img {
  text-align: center;
  width: 272px;
  margin-bottom: 20px;
}
.middle .search {
  text-align: center;
}
.middle .search input {
  width: 559px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.16);
  font-size: 16px;
}
.middle .search input:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
}
.middle .search input:focus {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
}

.middle .searchButtons {
  text-align: center;
  padding-top: 30px;
}
.middle .searchButtons button {
  height: 35px;
  padding: 0 15px;
  background-color: #f2f2f2;
  border-radius: 2px;
  color: #757575;
  border: 1px solid #f2f2f2;
  font-weight: 700;
}
.middle .searchButtons button:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
}


.container .bottom {
  position: fixed;
  bottom:0;
  width: 100%;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}
.container .bottom ul {
  margin-bottom: 0;
}
.container .bottom ul.right {
  padding-right: 30px;
}
.container .bottom li{
  display: inline;
  padding-left: 27px;
}
.container .bottom li a {
  color: #666;
  display: inline;
  text-decoration: none;
  line-height: 40px;
}
.container .bottom li a:hover{
  text-decoration: underline;
}
.container .bottom ul {
  display: inline;
}
ul.left {
  float: left;
  margin-left: 10px;
}
ul.right {
  float: right;
  position: fixed;
  right: 0;
}
